 <div class="container">
  <h2>8:7:7</h2>
  <p>8 reps, 7 reps, 7 reps.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Excercise</th>
        <th>Weight</th>
        <th>Reps</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Set #1</td>
        <td>Curls</td>
        <td>50lbs</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Set #2</td>
        <td>Curls</td>
        <td>50lbs</td>
        <td>7</td>
      </tr>
       <tr>
        <td>Set #3</td>
        <td>Curls</td>
         <td>50lbs</td>
         <td>7</td>
      </tr>
    </tbody>
  </table>
</div>