 <div class="container">
  <h2>Table: Daily Carbohydrate Intake(DCRI) & Calories From Carbs(CFCR)</h2>
  <p>Once you have your CALORIES FROM PROTEIN (CFP) and your CALORIES FROM FAT (CFF), the rest of your calories should be your CALORIES FROM CARBOHYDRATES (CFCR)</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Daily Carbohydrate Intake (DCRI) & Calories From Carbs (CFCR) (DFI)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1(g) of Carbohydrates = 4 calories</td>
      </tr>
      <tr>
        <td>Formula: <code>CFCR = CCI - CFF</code></td>
      </tr>
      <tr>
        <td>Formula: <code>DCRI = CFCR/4</code></td>
      </tr>
    </tbody>
  </table>
</div>