 <div class="container">
  <h2>Frequency</h2>
  <p>You could workout every body part in one day. But this is better. Monday & Thursday: Upper-body. Tuesday & Friday: Lower-body. Rest Saturday, Sunday, and Wednesday. That is a good frequency.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Frequency</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sunday</td>
        <td>REST</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Upper Body</td>
      </tr>
       <tr>
        <td>Tuesday</td>
        <td>Lower Body</td>
      </tr>
       <tr>
        <td>Wednesday</td>
        <td>REST</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>Upper Body</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Lower Body</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>REST</td>
      </tr>
    </tbody>
  </table>
</div>