 <div class="container">
  <h2>Table:  Calories from Protein</h2>
  <p>To figure out how many calories that is, just multiply it by 4. If your CW is 100lbs then your DPI is 100grams. And 400 calories of your Daily Calorie intake should come from protein.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Calories from Protein (CFP)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1(g) of Protein = 4 calories</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Formula: <code>CFP = DPI * 4</code></td>
      </tr></tfoot>
  </table>
</div>