 <div class="container">
  <h2>Table:  Rate of Gain</h2>
  <p>Weight gain doesn't really have an activity level. It is based on GENDER. An IDEAL RATE OF GAIN for a man is anywhere from .5 to 1 pounds per week. Or 2-4 pounds per month. That is about 48 per year.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Activity Level</th>
        <th>Ideal Rate of Gain</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Men</td>
        <td>.5 - 1.0lbs/wk = 2-4lbs/month)</td>
      </tr>
      <tr>
        <td>Women</td>
        <td>.25 - .5lbs/wk = 1-2lbs/month)</td>
      </tr>
    </tbody>
  </table>
</div>