 <div class="container">
  <h2>Table:  Calories from Fat (CFF)</h2>
  <p>To get the total amount of calories that should come from fat just take 20-30% of your Daily Calorie Intake. This is how much of your daily calories should be fat.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Calories from Fat (CFF)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1500</td>
        <td>300-450</td>
      </tr>
      <tr>
        <td>2300</td>
        <td>460-690</td>
      </tr>
       <tr>
        <td>3000</td>
        <td>600-900</td>
      </tr>
       <tr>
        <td>3800</td>
        <td>760-1140</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Formula: <code>DCI * .2<CFF<DCI*.3</code></td>
      </tr></tfoot>
  </table>
</div>