 <div class="container">
  <h2>Table:  Daily Fat Intake (DFI)</h2>
  <p>To figure that out in GRAMS just divide it by 9.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Daily Fat Intake (DFI)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1(g) of Fat = 9 calories</td>
      </tr>
      <tr>
        <td>Formula: <code>DFI = CFF/9</code></td>
      </tr>
      <tr>
        <td>Example: 460-690 = 51.1g - 76.7g</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Formula: <code>CFP = DPI * 4</code></td>
      </tr></tfoot>
  </table>
</div>