 <div class="container">
  <h2>8:8:7</h2>
  <p>Then the next time you workout you add 1 rep to each set. So now it is 8 reps for the 1st set, 8 reps for the 2nd set, and 7 reps for the third set.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Excercise</th>
        <th>Weight</th>
        <th>Reps</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Set #1</td>
        <td>Curls</td>
        <td>50lbs</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Set #2</td>
        <td>Curls</td>
        <td>50lbs</td>
        <td>8</td>
      </tr>
       <tr>
        <td>Set #3</td>
        <td>Curls</td>
         <td>50lbs</td>
         <td>7</td>
      </tr>
    </tbody>
  </table>
</div>