 <div class="container">
  <h2>Table: Caloric Maintenance Level</h2>
  <p>Weight gain doesn't really have an activity level. It is based on GENDER. An IDEAL RATE OF GAIN for a man is anywhere from .5 to 1 pounds per week. Or 2-4 pounds per month. That is about 48 per year.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Caloric Maintenance Level (CML)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>100(lbs)</td>
        <td>1400-1700</td>
      </tr>
      <tr>
        <td>150(lbs)</td>
        <td>2100-2500</td>
      </tr>
       <tr>
        <td>200(lbs)</td>
        <td>2800-3400</td>
      </tr>
       <tr>
        <td>250(lbs)</td>
        <td>3500-4250</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Formula: <code>[CW * 14-17]</code></td>
      </tr></tfoot>
  </table>
</div>