 <div class="container">
  <h2>Table: Rate of Loss</h2>
  <p>This is a chart for the IDEAL RATE OF LOSS, in pounds, for a person that is either Very Active, Sorta Active or Hardly Active. A very active person should ideally try to lose 2lbs per week.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Activity Level</th>
        <th>Ideal Rate of Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Above Avg</td>
        <td>2lbs/wk</td>
      </tr>
      <tr>
        <td>Average</td>
        <td>1-2lbs/wk</td>
      </tr>
      <tr>
        <td>Below Avg</td>
        <td>.5-1lbs/wk</td>
      </tr>
    </tbody>
  </table>
</div>