 <div class="container">
  <h2>Table: DPI</h2>
  <p>So how much protein a day should you eat? A female building strength takes her CURRENT WEIGHT and multiplies it by 1 . Take it again and multiply it by 1.2. Your DPI is somewhere in-between.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Daily Protein Intake (DPI)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sedentary</td>
        <td>.5 - .7g/lbs</td>
      </tr>
      <tr>
        <td>Regular Exercise</td>
        <td>.8 - 1.0g/lbs</td>
      </tr>
      <tr>
        <td>Female(strength)</td>
        <td>1.0 - 1.2g/lbs</td>
      </tr>
      <tr>
        <td>Male(strength)</td>
        <td>1.0 - 1.5g/lbs</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Formula:<code>[CW * 1.0 - 1.2]</code></td>
      </tr>
      <tr>
        <th><code>130(lbs) * 1.0 &lt; DPI &lt; 130(lbs) * 1.2</code></th>
      </tr>
    </tfoot>
  </table>
</div>