<div class="container">
  <h2>Example Diet Plan</h2>           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Joe Diet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Current Weight</td>
        <td>100lbs</td>
      </tr>
      <tr>
        <td>Active?</td>
        <td>Regular Exercise</td>
      </tr>
       <tr>
        <td>Goal?</td>
        <td>Gain Muscle</td>
      </tr>
       <tr>
        <td>CML?</td>
        <td><code>1400 - 1700cal</code</td>
      </tr>
      <tr>
        <td>Calorie Surplus?</td>
        <td>+500cal</td>
      </tr>
      <tr>
        <td>DCI</td>
        <td>2220cal</td>
      </tr>
      <tr>
        <td>DPI</td>
        <td><code>1.5 * 100 = 150g</code></td>
      </tr>
      <tr>
        <td>CFP</td>
        <td><code>105 * 4 = 600cal</code></td>
      </tr>
      <tr>
        <td>CFF</td>
        <td><code>2200 * .25 = 550cal</code></td>
      </tr>
      <tr>
        <td>DFI</td>
        <td><code>550/9 = 61g</code></td>
      </tr>
      
      <tr>
        <td>CFCR</td>
        <td><code>2220 - CFP - CFF = 1050cal</code></td>
      </tr>
      
      <tr>
        <td>DCRI</td>
        <td><code>1050/4 = 262.5g</code></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>DCRI = Daily Carb Intake (in grams)</td>
      </tr></tfoot>
  </table>
  
  <p>Joe is 100lbs and wants to build muscle fast. He eats more calories than his maintenance level and exercises regularly. And to be healthy he eats GOOD FAT and GOOD CARBS. BAM!</p> 
</div>