 <div class="container">
  <h2>8:8:8 @ 55lbs</h2>
  <p>After you get 8:8:8 with 50lbs you can go to 55lbs @ sets 7,6,5.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Excercise</th>
        <th>Weight</th>
        <th>Reps</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Set #1</td>
        <td>Curls</td>
        <td>55lbs</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Set #2</td>
        <td>Curls</td>
        <td>55lbs</td>
        <td>8</td>
      </tr>
       <tr>
        <td>Set #3</td>
        <td>Curls</td>
         <td>55lbs</td>
         <td>8</td>
      </tr>
    </tbody>
  </table>
</div>