{%extends 'layout.html'%}

{%block content%}
<style>
img {
    max-width: 100%;
    height: auto%;
    width: auto\9; /* ie8 */
}
</style>
<div class="container">
<h1>Eating Healthy</h1><hr>
  <p>The most important parts of an effective diet are CALORIES, PROTEIN, FAT, AND CARBOHYDRATES.</p>
  
<h2>Calories (Energy)</h2>
  <p>No matter what you have heard, the most important part of a diet is CALORIES. Everything we EAT and DRINK contains calories. However, everything we DO burns calories.</p>
  
  <p>So whether you want to LOSE WEIGHT or BUILD MUSCLE, it is all about the Calories! You eat for ENERGY and when you do stuff you use that energy.</p>
  
<div>
<h3>Calories In &gt; Calories Out</h3>
<i>Caloric Surplus</i><br><br>
  <p>If the amount of calories you eat is more than the amount of calories you burn, you have a CALORIC SURPLUS and you will gain weight. The extra weight is stored in your body as either fat or muscle.</p>
</div>
  
<div>
<h3>Calories In &lt; Calories Out</h3>
<i>Caloric Deficit</i><br><br>
However, if the calories you burn is more than the calories you eat, then you have a CALORIC DEFICIT, and you will lose weight. Your body will steal energy from your stored fat or muscle.<br><br>
</div>
  
<div>
<h3>Calories In = Calories Out</h3>
<i>Maintenance</i><br><br>
</div>
  
<p>So whether you want to gain muscle or lose fat, it is mainly about the calories!</p>
  
{%include 'tables/table_rol.html'%}
{%include 'tables/table_rog.html'%}

<p>So how does your body determine whether to store extra weight as either fat or muscle?</p>

<p>Well, your body will not build muscle if it has no reason to. Your body will only build as much muscle as it needs to do whatever things it needs to do.</p>

<div>
<h3>Exercise</h3>
<i>Daily</i><br><br>
  <img src="https://d1alt1wkdk73qo.cloudfront.net/images/guide/9ff05b51e56b40d6ad6fa5f250d59367/640x960.jpg">
  <p>In other words, EXERCISE signals the body to store those extra calories as MUSCLE. When you exercise you break down your muscles. This signals the body to use those calories to build up your muscles.</p>
</div>
  
<div>
<h3>Sedentary</h3>
<i>Lounging Around</i><br><br>
  <img src="https://qph.fs.quoracdn.net/main-qimg-c38c9f9a3188bb2a35405fe8715ab656">
  <p>But if you are like this guy, your body says, ''Well, I guess this guy doesn't need these calories.'' So the extra calories are stored as FAT.</p>
</div>
  
  <p>So how many calories a day do you need to take in every day? Well first we need to find out your CALORIC MAINTENANCE LEVEL. Then we will go from there.</p>
  
  <p>Your CALORIC MAINTENANCE LEVEL(CML) is the amount of calories per day you need to eat to maintain your current weight.</p>
  
  <p>There are 3 ways to find out:</p>
  
  <div>
<h3>Method #1</h3>
<i>Calculate CML</i><br><br>
  <p>Multiply your CURRENT WEIGHT by 14. Then multiply your current weight by 17. Your CALORIC MAINTENANCE LEVEL is somewhere between these two numbers. If you weigh 100lbs it should be 1400-1700 calories.</p>
</div>
  
  <div>
<h3>Method #2</h3>
<i>Harris Benedict Formula</i><br><br>
  <b>Formula:</b> <code>BMR = 66.5 + ( 13.75 × weight in kg ) + ( 5.003 × height in cm ) – ( 6.755 × age in years )</code><br><br>
  <p>There are many factors that determine your maintenance level. Things like GENDER, AGE, WEIGHT, METABOLIC RATE etc. This formula takes all that into account and gives you a better estimate.</p>
</div>

{%include 'tables/table_cml.html'%}

  <div>
<h3>Method #3</h3>
<i>Eat and See</i><br><br>
  <p>Eat a certain amount (daily) for a week and weigh in. Eat another amount (daily) for another week and weigh in. If you gain weight, cut back, if it stays the same YOU GOT IT!</p>
</div>
  
  <p>So if you want to GAIN weight you will eat MORE calories than your CML. And if you want to LOOSE weight you will eat LESS calories than your CML.</p>

  {%include 'tables/table_cal_surp.html'%}
  
  <p>To get an ideal DEFICIT for loosing weight, just eat 20% less than your CML. (Multiply your CML by .2) This is how FEWER calories you should eat to loose weight.</p>
  
  <div>
  <h2>Protein (Repair)</h2>
    <i>Repairs things. Thermogenic Properties</i><br><br>
  <p>Since when you exercise you BREAK DOWN your muscles, protein helps BUILD UP, or REPAIR your muscles. Protein also signals the body to BURN FAT but to BUILD muscle. It also keeps you full!</p>
    
    <p>Usually the body will build up your muscles stronger than they were before you broke them down. So that the next time you try to do a task, you can do it. Protein is an aid in the process.</p>
    </div>
  
  {%include 'tables/table_dpi.html'%}
  
  <p>That is for a female trying to build strength. Use .5 through .7 for a sedentary person.</p>
  
  {%include 'tables/table_cfp.html'%}
  <p>Just go back and read it carefully. hehe</p>
  
  <div>
  <h2>Fat</h2>
    <i>Energy & Nutrients</i><br><br>
  <p>Now you need some FAT! YES! YOU NEED FAT! Because fat stores energy! But there is GOOD FAT and there is BAD FAT.</p>
    </div>
  
 <div>
  <h3>Wimpy & Fat Albert</h3>
    <i>Gain Fat</i><br><br>
   <img src="https://d1alt1wkdk73qo.cloudfront.net/images/guide/b4bdc995915348c2b3a04d40f4778cb3/640x960.jpg">
  <p>Like this type of bad fat</p>
    </div>

   <div>
  <h3>Trans Fat</h3>
    <i>Junk Food. Cancer & Heart Disease. Increased LDL</i><br><br>
   <img src="https://www.simplemost.com/wp-content/uploads/2018/05/AdobeStock_85378166-750x500.jpeg">
  <p>TRANS FAT is the BAAAAAD FAT! If it has trans fat in it, it is deadly. Cancer, heart disease! It increases your LDL (bad cholesterol) levels and lowers your HDL (good cholesterol) levels. DANGER!</p>
    </div>
  
  <div style="background-color: #e5e9ea;padding: 16px;margin:16px">
  <p><b>Secret: </b>There is a policy passed by the FDA that if a product doesn't have more than .5 grams of trans fat, the company can put 0g of trans fat on the label, even if it does have trans fat. Crooked world!</p>
    <p>So don't trust "0g trans fat" It could have trans fat anyhow!</p>
    </div>
  
  <p>Fried foods, fast food, chips, cookies, doughnuts, and other crappy foods. TRANS FAT! DANGER! No wonder they are cheap and easy to get.</p>
  
  <div>
  <h3>Saturated Fat</h3>
    <i>Meaty Fat</i><br><br>
   <img src="https://bretcontreras.com/wp-content/uploads/meat.jpg">
  <p>SATURATED FAT is bad fat also! But it is not as bad as TRANS FAT. In moderation, saturated fat may not be harmful, but it is still bad.</p>
    <p>Beef, veal, lamb, pork, dairy from whole milk (cheese, butter), poultry skin, coconut oil, palm oil. SATURATED FAT! CAUTION!</p>
    </div>

 <div>
  <h3>Polyunsaturated Fat</h3>
    <i>Decrease LDL. Increase HDL.</i><br><br>
   <img src="https://www.health.harvard.edu/media/content/images/bigstock-Food-fish-Unsaturated-Fats-52226848.jpg">
  <p>POLYUNSATURATED FAT! GOOD FAT! Lowers your bad LDL levels and increases your good HDL levels! GREEN LIGHT!</p>
   <p>Omega 6- vegetable oil, nuts Omega 3- fatty acid, fish, fish oil supplements. POLYUNSATURATED FATS</p>
    </div>

  <div>
  <h3>Monosunsaturated Fat</h3>
    <i>Decrease LDL. Increase HDL.</i><br><br>
   <img src="https://www.heartfoundation.org.au/images/made/images/uploads/main/Fats_Spread_800_480_85_s_c1.jpg">
  <p>MONOUNSATURATED FAT! GOOD FAT! Decreases chance for cancer and heart disease. Lowers bad LDL levels and increases good HDL levels! GREEN LIGHT!!</p>
   <p>Fish, Fish oil supplements, Nuts, Nut Butters, Seeds, Olive Oil, Avocados. ALL HAVE GOOD FAT!</p>
    </div>

<div>
  <h3>Olive Oyl</h3>
    <i>Lose Weight</i><br><br>
   <img src="https://i.pinimg.com/736x/5b/9b/fd/5b9bfd36f77b5619deba9cfd84a5fc69--cartoon-characters-olives.jpg">
  <p>Olive Oil! Good!</p>
    </div>
 
{%include 'tables/table_cff.html'%}
{%include 'tables/table_dfi.html'%}
  
  
  <div style="background-color: #e5e9ea;padding: 16px;margin:16px">
  <p><b>Secret: </b>Eating doesn't make you fat! FAT MAKES YOU FAT!</p>
    </div>  
  

 <div>
  <h2>Carbohydrates</h2>
 <div style="background-color: #e5e9ea;padding: 16px;margin:16px">
  <p><b>Secret: </b>Carbohydrates are NOT ESSENTIAL to an effective diet. But they are VERY USEFUL. So don't follow the LOW CARB craze.</p>
   <p>Carbs seemingly make you fat because chances are most of your calories might be coming from those carbs. But only a CALORIC SURPLUS makes you fat.</p>
   <p>Not saying you shouldn't take in carbs, but it is not as important as Protein and Fat. Anyhow..</p>
    </div> 
   
   <p>There are different TYPES of Carbohydrates. SIMPLE and COMPLEX, HIGH GLYCEMIC and LOW GLYCEMIC. GOOD and BAD.</p>
  </div>

  <div>
<h3>Simple VS Complex</h3>
<i>Fast vs Slow</i><br><br>
  <p>Simple carbs have a simple structure. It digests and absorbs sugar and things faster. BAD! Complex carbs have a complex structure and digests sugar and junk slower. GOOD!</p>
    <p>Simpler=Diabetes, high blood sugar</p>
    <p>Complex = GOOD!</p>
</div>
  
   <div>
<h3>Hi Glycemic VS Low Glycemic</h3>
<i>Quick breakdown vs Slow breakdown</i><br><br>
  <p>High Glycemic carbs break down and release glucose to the blood stream rapidly. BAD! Low glycemic carbs break down and release glucose to the blood stream slower. GOOD!</p>
    <p>Foods are usually categorized by their GLYCEMIC INDEX.</p>
     <p>HIGH GLYCEMIC! BAD!</p>
     <p>LOW GLYCEMIC. GOOD!</p>
     <img src="https://d1alt1wkdk73qo.cloudfront.net/images/guide/7a8012e5278a46ba8290604dc867801f/640x960.jpg">
     <p>Veggies! GOOD!</p>
     <p>Do a little bit of research on the GLYCEMIC LOAD of a food.</p>
     <p>Vegetables, Fruits, Beans, Oats (Oatmeal), Brown Rice, Sweet Potatoes/Yams, Quinoa, Various whole grain foods. GOOD CARBS</p>
     <p>Good VS Bad = Vast vs Slow</p>
     
     {%include 'tables/table_dcri_cfcr.html'%}
</div>
  
  {%include 'tables/table_sample.html'%}

<div class="container">
  <h2>Extras</h2> 
  <a href="http://calca.io">Calca - Your Symbolic calculator</a>
</div>

{%endblock%}
  
