{%extends 'layout.html'%}

{%block content%}
<style>
img {
    max-width: 80%;
    height: auto%;
    width: auto\9; /* ie8 */
}
</style>

<div class="container">
<h1>Rest Patterns</h1>
  <img src="https://axbo.zendesk.com/hc/de/article_attachments/203058769/aXbo_Hypnogramm_EN_big_picture_Zendesk_sized.png">
  <p>
  A hypnogram is a graph that represents the stages of sleep as a function of time. It was developed as an easy way to present the recordings of the brain wave activity from an electroencephalogram (EEG) during a period of sleep. It allows the different stages of sleep: rapid eye movement sleep (REM) and non-rapid eye movement sleep (NREM) to be identified during the sleep cycle. NREM sleep can be further classified into NREM stage 1, 2 and 3. The previously considered 4th stage of NREM sleep has been included within stage 3; this stage is also called slow wave sleep (SWS) and is the deepest stage of sleep.[1] Each of the three NREM stages as well as the period of REM sleep and the awake state can be determined and displayed on a hypnogram.</p>
  
  <h2>Method</h2>
  <p>
  Hypnograms are usually obtained by visually scoring the recordings from electroencephalogram (EEGs), electrooculography (EOGs) and electromyography (EMGs).[2] The output from these three sources is recorded simultaneously on a graph by a monitor or computer as a hypnogram. Certain frequencies displayed by EEGs, EOGs and EMGs are characteristic and determine what stage of sleep or wake the subject is in. There is a protocol defined by the American Academy of Sleep Medicine (AASM) for sleep scoring, whereby the sleep or wake state is recorded in 30-second epochs.[3] Prior to this the Rechtschaffen and Kales (RK) rules were used to classify sleep stages.[4]</p>
  
  <h2>Output - Normal Sleep</h2>
  <p>
  Cycles of REM and non-REM stages make up sleep. A normal healthy adult requires 7–9 hours of sleep per night. The number of hours of sleep is variable, however the proportion of sleep spent in a particular stage remains mostly consistent; healthy adults normally spend 20–25% of their sleep in REM sleep.[5] During rest following a sleep-deprived state, there is a period of rebound sleep which has longer and deeper episodes of SWS to make up for the lack of sleep.[6]

On a hypnogram, a sleep cycle is usually around 90 minutes and there are four to six cycles of REM/NREM stages that occur during a major period of sleep. Most SWS occurs in the first one or two cycles; this is the deepest period of sleep. The second half of the sleeping period contains most REM sleep and little or no SWS and may contain brief periods of wakefulness which can be recorded but are not usually perceived.[7] The stage that occurs before waking is normally REM sleep.[8]

Hypnograms for healthy persons vary slightly according to age, emotional state, and environmental factors.[9]</p>
  
  <h2>Disrupted Sleep</h2>
  <p>Sleep architecture can be evaluated using hypnograms, demonstrating irregular sleeping patterns associated with sleep disorders. Disruptions or irregularities to the normal sleep cycle or sleep stage transitions can be detected; for example a hypnogram can show that in obstructive sleep apnea (OSA) the stability of transition between REM and NREM stages is disrupted.[10]

The effects of certain medications on sleep architecture can be visualised on a hypnogram. For example, the anticonvulsant Phenytoin (PHT) can be seen to disrupt sleep by increasing the duration of NREM stage 1 and decreasing the duration of SWS; whereas the drug Gabapentin is seen to revive sleep by increasing the duration of SWS.[unreliable medical source?][11]</p>

  </div>
{%endblock%}