{%extends 'layout.html'%}

{%block content%}
<div class="container">
<h1>Workout Plan</h1>
  
  <p>There are 6 essential parts of an effective workout plan.</p>

{%include 'lists/list_essent.html'%}
{%include 'tables/table_prog_over.html'%}
{%include 'tables/table_prog876.html'%}
{%include 'tables/table_prog887.html'%}
{%include 'tables/table_prog888.html'%}

<h2>Realistic Progressions</h2>
{%include 'tables/table_prog765.html'%}
{%include 'tables/table_prog776.html'%}
{%include 'tables/table_prog777.html'%}
{%include 'tables/table_prog877.html'%}
{%include 'tables/table_prog887_2.html'%}
{%include 'tables/table_prog888_2.html'%}
{%include 'tables/table_prog_55.html'%}
  
<h2>Caloric Surplus</h2>
<p>If you read my snapguide on HOW TO UNDERSTAND DIETING, you saw that to gain muscle you have to have a CALORIC SUPLUS. You have to eat more calories than your CALORIC MAINTENANCE LEVEL.</p>
<p>Adding 500 calories to your daily calorie intake will help you to gain faster than if you only added 250 calories.</p>
  
<h2>Quality Weight Training Program</h2>
<p>You also need a QUALITY WEIGHT TRAINING PROGRAM. Which requires that you...</p>
{%include 'tables/table_qual_wgt.html'%}
  
<p>Workout your ENTIRE BODY, use PROPER FORM, workout with the proper VOLUME, FREQUENCY, and INTENSITY, FAIL, and REST BETWEEN SETS.</p>

<h2>Volume</h2>
<p>Don't go crazy with the exercising. Do no more than 15 sets per body part per week. TOTAL! Do only 4 exercises per muscle per week. MAX! Most people do (1-3) Do 3 for big muscles and 1-2 for smaller.</p>

{%include 'lists/list_vol.html'%}
{%include 'tables/table_freq.html'%}

<h2>Intensity</h2>
{%include 'lists/list_intsty.html'%}
<p>You should do between 5 and 12 reps for your target goals. Elite power lifters only have from (1-5) and they are just fine. Don't go ''insane.''</p>

<h2>Rest Between Sets</h2>

{%include 'lists/list_rest.html'%}
  <p>Rest between sets. Rest (1-3) minutes for lighter exercises, and (2-3) minutes for heavier exercises.</p>

<h2>Fail</h2>
<p>A good workout routine requires FAILURE. You tried to lift 8,8,8 but you could only do 7,6,5. Just remember, PROGRESSIVE OVERLOAD.</p>

<h2>Sufficient Diet</h2>
{%include 'lists/list_diet.html'%}
<p>You need a SUFFICIENT DIET. Check out my snapguide on HOW TO UNDERSTAND DIETING to get an idea of a sufficient diet. The links at the end help also. Also, DRINK LOTS OF WATER to get your sweat back!</p>

  <h2>Rest & Recover</h2>
  <p>You have to also REST & RECOVER! Give your muscles some time to build themselves back up. Exercise breaks them down. Let that protein work. Your muscles will recover stronger than before.</p>
  
   <h2>Consitency, Time, Tracking</h2>
  <p>Be CONSISTENT, give it some TIME, and TRACK YOUR PROGRESS</p>
  <p>This process goes for any exercise. Not just lifting weights.</p>
  
  <h2>Extras</h2>
  {%include 'lists/list_samp_rout.html'%}
{%endblock%}