<form action="/submitaccount" method="POST">
  <label id="email"></label>
  <input type ="text" id="email" name="email" placeholder="@gmail">
  
  <label id="username"></label>
  <input type ="text" id="username" name="username" placeholder="TD">
  
  <label id="phone"></label>
  <input type ="text" id="phone" name="phone" placeholder="Tutorial Doctor">
  
  <label id="password"></label>
  <input type ="password" id="password" name="password" placeholder="thetutorialdoctor@gmail.com">
  
  <input type="submit">
</form>
