<form action="/submitcontact" method="POST">
  <label id="name"></label>
  <input type ="text" id="name" name="name" placeholder="TD">
  
  <label id="phone"></label>
  <input type ="text" id="phone" name="phone" placeholder="111-111-1111">
  
  <label id="username"></label>
  <input type ="text" id="username" name="username" placeholder="Tutorial Doctor">
  
  <label id="email"></label>
  <input type ="text" id="email" name="email" placeholder="thetutorialdoctor@gmail.com">
  
  <input type="submit">
</form>
