{%extends 'layout.html'%}

{%block content%}
<form action="/show" method='post'>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input name="title" type="text" class="form-control" id="title" placeholder="New Note">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Notes</label>
    <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input class="btn btn-primary" type="submit">
</form>

<script>

</script>

<style>
  #exampleFormControlTextarea1{
    white-space: pre-wrap
  }
</style>

{%endblock%}