
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      OT
    </button>
    <div class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Genesis</a>
      <a class="dropdown-item" href="#">Exodus</a>
      <a class="dropdown-item" href="#">Leviticus</a>
      <a class="dropdown-item" href="#">Nmbers</a>
      <a class="dropdown-item" href="#">Deuteronomy</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Joshua</a>
      <a class="dropdown-item" href="#">Judges</a>
      <a class="dropdown-item" href="#">Ruth</a>
      <a class="dropdown-item" href="#">1 Samuel</a>
      <a class="dropdown-item" href="#">2 Samuel</a>
      <a class="dropdown-item" href="#">1 Kings</a>
      <a class="dropdown-item" href="#">2 Kings</a>
      <a class="dropdown-item" href="#">1 Chronicles</a>
      <a class="dropdown-item" href="#">2 Chronicles</a>
      <a class="dropdown-item" href="#">Ezra</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Job</a>
      <a class="dropdown-item" href="#">Psalms</a>
      <a class="dropdown-item" href="#">Proverbs</a>
      <a class="dropdown-item" href="#">Ecclesiastes</a>
      <a class="dropdown-item" href="#">Song of Solomon</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Isaiah</a>
      <a class="dropdown-item" href="#">Jeremiah</a>
      <a class="dropdown-item" href="#">Lamentations</a>
      <a class="dropdown-item" href="#">Ezekiel</a>
      <a class="dropdown-item" href="#">Daniel</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Hosea</a>
      <a class="dropdown-item" href="#">Joel</a>
      <a class="dropdown-item" href="#">Amos</a>
      <a class="dropdown-item" href="#">Obadiah</a>
      <a class="dropdown-item" href="#">Jonah</a>
      <a class="dropdown-item" href="#">Micah</a>
      <a class="dropdown-item" href="#">Nahum</a>
      <a class="dropdown-item" href="#">Habakkuk</a>
      <a class="dropdown-item" href="#">Zephaniah</a>
      <a class="dropdown-item" href="#">Malachi</a>
    </div>
  </div>


<style>
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
  
</style>

<script>

</script>