<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    NT
  </button>
  <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Matthew</a>
    <a class="dropdown-item" href="#">Mark</a>
    <a class="dropdown-item" href="#">Luke</a>
    <a class="dropdown-item" href="#">John</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Acts</a>
    <a class="dropdown-item" href="#">Romans</a>
    <a class="dropdown-item" href="#">1 Corinthians</a>
    <a class="dropdown-item" href="#">2 Corinthians</a>
    <a class="dropdown-item" href="#">Galatians</a>
    <a class="dropdown-item" href="#">Ephesians</a>
    <a class="dropdown-item" href="#">Philippians</a>
    <a class="dropdown-item" href="#">Colossians</a>
    <a class="dropdown-item" href="#">1 Thessalonians</a>
    <a class="dropdown-item" href="#">2 Thessalonians</a>
    <a class="dropdown-item" href="#">1 Timothy</a>
    <a class="dropdown-item" href="#">2 Timothy</a>
    <a class="dropdown-item" href="#">Titus</a>
    <a class="dropdown-item" href="#">Philemon</a>
    <a class="dropdown-item" href="#">Hebrews</a>
    <a class="dropdown-item" href="#">James</a>
    <a class="dropdown-item" href="#">1 Peter</a>
    <a class="dropdown-item" href="#">2 Peter</a>
    <a class="dropdown-item" href="#">1 John</a>
    <a class="dropdown-item" href="#">2 John</a>
    <a class="dropdown-item" href="#">Jude</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Revelation</a>
  </div>
</div>

<style>
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
  
</style>


<script>

</script>